#app_grid {
    layout: grid;
    grid-size: 1 2;
    row-span: 2;
    grid-rows: 8% 92%;
  }
  

  $primary: teal;
  /* $surface: #808080; */
  $primary-lighten-1: #198c8f;
  
  
  .footer--description {
    background: teal;
  }
  
  .footer--key {
    background: teal;
  }
 
  
  /* Inputs  //////////////////////////////////////////////////////////////////////////////////////////////////*/
  #fname {
    width: 1fr;
  }
  #lname {
    width: 1fr;
  }
  #phone {
    width: 1fr;
  }
  #dob {
    width: 1fr;
  }
  #addpatient {
    width: 1fr;
  }
  #updatepatient {
    width: 1fr;
  }
  /* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  
  
  #cal_table {
    width: 7fr;
    /* border: solid rgb(5, 189, 221); */
  }
  
  #tables {
    width: 3fr;
    /* border: solid rgb(5, 189, 221); */
  }
  
  #pt_table {
    height: 3fr;
    /* border: solid rgb(221, 196, 5); */
  }
  
  #enc_table {
    height: 3fr;
    /* border: solid rgb(221, 196, 5); */
  }
  
  #notes {
    height: 1fr;
    /* border: solid rgb(221, 196, 5); */
  }
  
  #feedback {
    height: 1fr;
    /* border: solid rgb(221, 196, 5); */
  }
  
  /* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

  ExportScreen {
    align: center middle;
}

#dialog {
  grid-size: 2 2;
  grid-gutter: 1 2;
  grid-rows: 5fr 1;
  padding: 0 1;
  width: 90;
  height: 30;
  border: thick $background 80%;
  background: $surface;
}

#medicament {

}

#exports {

}

#buttons {
  column-span: 2;
  height: 1fr;
  width: 1fr;
  /* content-align: center middle; */
}