#app_grid {
  layout: grid;
  grid-size: 1 2;
  row-span: 2;
  grid-rows: 8% 92%;
}

/* .datatable--fixed {
  background: teal;
}

.datatable--header {
  background: teal;
} */

/* $scrollbar-background: teal; */
/* $primary: #064D51; */
$primary: teal;
/* $surface: #808080; */
$primary-lighten-1: #198c8f;

/* .footer--highlight {
  background: teal;
} */

.footer--description {
  background: teal;
}

.footer--key {
  background: teal;
}
/* $surface: #ffd8ca; */

/* .scrollbar-background {
  background: teal;
} */


/* Inputs  //////////////////////////////////////////////////////////////////////////////////////////////////*/
#fname {
  width: 1fr;
}
#lname {
  width: 1fr;
}
#phone {
  width: 1fr;
}
#dob {
  width: 1fr;
}
#addpatient {
  width: 1fr;
}
#updatepatient {
  width: 1fr;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#cal_table {
  width: 7fr;
  /* border: solid rgb(5, 189, 221); */
}

#tables {
  width: 3fr;
  /* border: solid rgb(5, 189, 221); */
}

#pt_table {
  height: 3fr;
  /* border: solid rgb(221, 196, 5); */
}

#enc_table {
  height: 3fr;
  /* border: solid rgb(221, 196, 5); */
}

#notes {
  height: 1fr;
  /* border: solid rgb(221, 196, 5); */
}

#feedback {
  height: 1fr;
  /* border: solid rgb(221, 196, 5); */
}

